	<footer class="footer">
		<div class="footer-items" id="social-media">
			<!-- <img src="https://s3.amazonaws.com/artprojectdarius/art-main-section/insta.jpg"> -->
			<a href="https://www.instagram.com/rebeltakeover/">
				<i class="fa fa-instagram fa-2x" aria-hidden="true"></i>
			</a>
			<a href="#">
				<i class="fa fa-twitter fa-2x" aria-hidden="true"></i>
			</a>
		</div>
		
		<div id="sign-up" class="footer-items">
			<form  class='sign-up' action="/" method="POST" id="sign-up" >
				<h5 id="form-header"> Email List for Upcoming Merchandise and Art</h5>
				<input id="email-input" type="text" name="email" placeholder="E-mail">
				<input id="name-input" type="text" name="name" placeholder="First Name">
				<input id="submit" type="submit" value="Submit">
			</form>
		</div>
		<div id="site-map" class="footer-items">
			<ul class="site-links">
				<a href="/about"><li class="footer-text">About</li></a>
				<a href="/"><li class="footer-text">Home</li></a>
				<a href="/contact"><li class="footer-text">Contact for Design</li></a>
			</ul>
		</div>
	</footer>
	<div id="credits">
		<div class="created-by">Developed by Adrian</div>
	</div>
	<script src="scripts/main.js"></script>
</body>
</html>